src/flows/AI_File_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Handler_Alert</name>
        <label>Error Handler Alert</label>
        <locationX>1111</locationX>
        <locationY>403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mike@idialogue.app</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error With Text Extract</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_PII_Summary</name>
        <label>Generate PII Summary</label>
        <locationX>1402</locationX>
        <locationY>725</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Text_Extract_Complete_Timestamp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentVersionId</name>
            <value>
                <elementReference>$Record.rooms__RecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxTokens</name>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <stringValue>You are a document analyst for determining of Personally Identifiable Information (PII) exists in document. A previous prompt has determined there is PII in this document.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Summarize the PII in this document in less than 300 words.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>PIISummary</assignToReference>
            <name>completion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Use an &quot;AI Completion&quot; action to summarize extracted text.
Provide the ContentVersionId as an input so the API will reference the extracted File text.</description>
        <name>GPT_Summarize_Action</name>
        <label>GPT Summarize Action</label>
        <locationX>985</locationX>
        <locationY>560</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PII_Detection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentVersionId</name>
            <value>
                <elementReference>$Record.rooms__RecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxTokens</name>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <stringValue>You are a document analyst with expertise in summarizing professional documents, contracts and agreements. Responses are professional, accurate and concise.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Summarize this document in less than 100 words.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>AI_Response</assignToReference>
            <name>completion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PII_Detection</name>
        <label>PII Detection</label>
        <locationX>1105</locationX>
        <locationY>560</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PII_Detected_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentVersionId</name>
            <value>
                <elementReference>$Record.rooms__RecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <stringValue>You are a document analyst for determining of Personally Identifiable Information (PII) exists in document. All responses are strictly &quot;True&quot; or &quot;False&quot;.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Does this document contain PII? Respond strictly with &quot;True&quot; or &quot;False&quot;.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>PII_Result</assignToReference>
            <name>completion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Debug</name>
        <label>Send Email (Debug)</label>
        <locationX>1685</locationX>
        <locationY>562</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>File {!$Record.rooms__RecordId__c} Extract Complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>debug@domain.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>File {!$Record.rooms__RecordId__c} Extract Complete</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Extract_Start_Alert</name>
        <label>Send Extract Start Alert</label>
        <locationX>1684</locationX>
        <locationY>238</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Started Text Extraction Job {!TextExtractJobId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>debug@domain.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CV {!$Record.rooms__RecordId__c} Extract Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Start_Text_Extraction_Process</name>
        <label>Start Text Extraction Process</label>
        <locationX>987</locationX>
        <locationY>234</locationY>
        <actionName>rooms__ContentVersionAIAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Text_Extract_Successful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>textExtract</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.rooms__RecordId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rooms__ContentVersionAIAction</nameSegment>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TextExtractJobId</assignToReference>
            <name>extractJobId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_PII_Detected_Flag</name>
        <label>Assign PII Detected Flag</label>
        <locationX>1234</locationX>
        <locationY>725</locationY>
        <assignmentItems>
            <assignToReference>PIIDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_PII_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Word_Count</name>
        <label>Assign Word Count</label>
        <locationX>708</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>WordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rooms__Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPT_Summarize_File_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CONTENT_VERSION_INSERT_Event</name>
        <label>CONTENT VERSION INSERT Event?</label>
        <locationX>562</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>TEXT_EXTRACT_COMPLETE_EVENT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCONTENT_VERSION_INSERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rooms__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTENT_VERSION_INSERT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContentVersionRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>For demo purposes, only files with less than 2500 words are summarized.</description>
        <name>GPT_Summarize_File_Decision</name>
        <label>GPT Summarize File?</label>
        <locationX>829</locationX>
        <locationY>561</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGPTSummarize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WordCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPT_Summarize_Action</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PII_Detected_Decision</name>
        <label>PII Detected?</label>
        <locationX>1224</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>Update_Text_Extract_Complete_Timestamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPIIDetected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PII_Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PII_Detected_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualifies_for_Text_Extraction</name>
        <label>Qualifies for Text Extraction?</label>
        <locationX>839</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesStartExtract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentVersionRecord.rooms__IsLibraryContent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Text_Extraction_Process</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TEXT_EXTRACT_COMPLETE_EVENT</name>
        <label>TEXT EXTRACT COMPLETE</label>
        <locationX>562</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExtractComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rooms__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTENT_VERSION_TEXT_EXTRACT_COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Word_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Text_Extract_Successful</name>
        <label>Successful?</label>
        <locationX>1104</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Error_Handler_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExtractStarted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Text_Extract_Job_ID_on_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Example of how to determine if a file should be processed by AI.</description>
    <environments>Default</environments>
    <formulas>
        <name>AI_Process_File</name>
        <dataType>Boolean</dataType>
        <expression>/* Determine here if ContentVersionRecord should be processed by AI or OCR Text extraction */
NOT( {!ContentVersionRecord.rooms__IsTemplate__c} )</expression>
    </formulas>
    <interviewLabel>AI File Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AI File Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ContentVersionRecord</name>
        <label>Get Content Version</label>
        <locationX>712</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qualifies_for_Text_Extraction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rooms__RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FileType</queriedFields>
        <queriedFields>rooms__IsTemplate__c</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>ContentSize</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>rooms__IsLibraryContent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Text_Extract_Complete_Timestamp</name>
        <label>Update Text Extract Complete Timestamp</label>
        <locationX>1401</locationX>
        <locationY>561</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rooms__RecordId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GPTSummary__c</field>
            <value>
                <elementReference>AI_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rooms__PIIDetected__c</field>
            <value>
                <elementReference>PIIDetected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rooms__PIISummary__c</field>
            <value>
                <elementReference>PIISummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rooms__TextExtractTimestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rooms__WordCount__c</field>
            <value>
                <elementReference>WordCount</elementReference>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Text_Extract_Job_ID_on_Record</name>
        <label>Update Text Extract Job ID on Record</label>
        <locationX>1266</locationX>
        <locationY>234</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rooms__RecordId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rooms__TextExtractJobId__c</field>
            <value>
                <elementReference>TextExtractJobId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <start>
        <locationX>444</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CONTENT_VERSION_INSERT_Event</targetReference>
        </connector>
        <object>rooms__Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AI_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PII_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>PIIDetected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PIISummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextExtractJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of words extracted from file.</description>
        <name>WordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
