src/flows/AI_Quote_Room_ChatBot.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Summarize_Line_Items</name>
        <label>Summarize Line Items</label>
        <locationX>1295</locationX>
        <locationY>67</locationY>
        <actionName>rooms__AIPromptSObjectUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Summarize_Pricebook_Entries</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>describeRelatedRecords</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>extractSObjectFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreIDFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreNullFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedSObject</name>
            <value>
                <stringValue>OpportunityLineItem</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedSObjectField</name>
            <value>
                <stringValue>OpportunityId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFieldLabel</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFieldName</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AIPromptSObjectUtils</nameSegment>
        <outputParameters>
            <assignToReference>LineItemSummary</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Summarize_Pricebook_Entries</name>
        <label>Summarize Pricebook Entries</label>
        <locationX>1295</locationX>
        <locationY>223</locationY>
        <actionName>rooms__AIPromptSObjectUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_System_Prompt</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>describeRelatedRecords</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>extractSObjectFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreIDFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreNullFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityRecord.Pricebook2Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedSObject</name>
            <value>
                <stringValue>PricebookEntry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedSObjectField</name>
            <value>
                <stringValue>Pricebook2Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFieldLabel</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFieldName</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AIPromptSObjectUtils</nameSegment>
        <outputParameters>
            <assignToReference>PricebookSummary</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_System_Prompt</name>
        <label>Assign System Prompt</label>
        <locationX>1148</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>systemPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>systemPromptTemplate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AI Quote Room ChatBot {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AI Quote Room ChatBot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OpportunityRecord</name>
        <label>GET Opportunity</label>
        <locationX>1155</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summarize_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoomRecord.rooms__MasterRecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RoomMemberRecord</name>
        <label>GET Room Member</label>
        <locationX>1017</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>memberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rooms__DocumentRoomMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RoomRecord</name>
        <label>GET Room</label>
        <locationX>889</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RoomMemberRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>roomId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rooms__DocumentRoom__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rooms__MasterRecordId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>534</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>RoomRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ProductKnowledge</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>PAGE 1
AirLink RV55 Datasheet
SIERRA
WIRELESS
WITHRA
AirLink® RV55 Rugged LTE-A Pro Router
BENEFITS
Compact, Industrial Grade, Low Power LTE-
Centrally managed, secure
Advanced Connectivity
LTE broadband connectivity
for both remote fixed or
The AirLink® RV55 is the industry&apos;s most rugged, compact, LTE-Advanced Pro
vehicle applications in harsh
router. Simple to install, and easy to manage, the RV55 router is designed for
environments
connecting critical remote assets, infrastructure, and vehicle fleets. The RV55
Ultra-Low Power consumption,
is especially well suited for applications in energy, utilities, smart city and public
ideal for solar or battery powered
safety. The RV55 provides real-time remote connectivity for SCADA, distribution
installations.
management systems and metering.
Connect your field workers and
The RV55 high-performance LTE-Advanced Pro connectivity, Wi-Fi and GNSS and
devices with flexible dual Wi-Fi,
location-based applications and dual connectivity for vehicle fleets and mobile
and ethernet
workforce. An LTE-M/NB-IoT variant is perfectly suited for hard to reach conditions.
Reduces complexity in
The RV55 supports an extensive range of LTE bands worldwide, and its LTE-
connecting legacy equipment
Advanced Pro capabilities deliver up to 600 Mbps downlink speeds. The RV55 also
with dual-serial, ethernet, and
supports new unlicensed LTE bands (eg. CBRS) to support dedicated Private LTE
multi-protocol support
service.
Powerful remote cloud-based
or on-premises management
FIXED
solutions
Proven reliability and over 3
million AirLink routers and
Public or Private
Cap Bank
Legacy
Recloser
Cellular WAN
Controller
gateways deployed
Equipment
(Serial)
Enterprise
(Serial)
(Ethernet)
Peace of mind - included 3-year
warranty, direct 24/7 support,
MOBILE
Wi-Fi WAN
and device management access1
Advanced
Network
Laptop
Bucket Sensor
Tablet
Management
GNSS
(Ethernet)
(I/O)
(Wi-Fi)
1 1st year of 24/7 Direct Technical Support and device management access included in purchase at no additional charge.
sierrawireless.com/RV55
PAGE 2
AirLink® RV55
Rugged LTE-A Pro Router
RV55
North America
Global
Global
LTE-A Pro
LTE-M/ NB-IoT
LTE CATEGORY
Cat 12
Cat M1/NB1
Peak D/L
(Up to 600 Mbps DL)
Cat-M1: 300kbps
Cat-NB1: 27kbps
Peak U/L
(Up to 150 Mbps UL)
Cat-M1: 375kbps
Cat-NB1: 65kbps
4G LTE
2100(B1), 1900(B2), 1800(B3), AWS(B4), 850(B5),
2100(B1), 1900(B2), 1800(B3), AWS(B4), 850(B5),
2100(B1), 1900(B2), 1800(B3), AWS(B4),
Frequency Bands
2600(B7), 900(B8), 1800(B9), 700(B12), 700(B13),
2600(B7), 900(B8), 1800(B9), 700(B12), 700(B13),
850(B5), 900(B8), 700(B12), 700(B13), 700(B17),
700(B14), 850(B18), 850(B19), 800(B20),
850(B18), 850(B19), 800(B20), 850(B26),
850 (B18), 850(B19), 800(B20), 850(B26),700(B28)
850(B26), 700(B29), 2300(B30), 1500(B32), TDD
700(B28), 700(B29), 2300(B30), 1500(B32), TDD
B41, TDD B42, TDD B43, TDD B46, CBRS B48,
B41, TDD B42, TDD B43, TDD B46, CBRS B48,
1700(B66)
1700(B66)
3G HSPA/HSPA+
2100(B1), 1900(B2), AWS(B4), 850(B5), 800(B6),
2100(B1), 1900(B2), AWS(B4), 850(B5), 800(B6),
Frequency Bands*
900(B8), 1700(B9), 850(B19)
900(B8), 1700(B9), 850(B19)
2G EDGE/GSM/GPRS
Frequency Bands
850, 900, 1800, 1900
APPROVALS
Regulatory
FCC, IC, PTCRB
GCF, CE, RCM
FCC, IC, PTCRB, GCF, CE, RCM
Carrier
Verizon, AT&amp;T
Planned: Telstra
Planned: Verizon, AT&amp;T
PART NUMBER
1104303
1104332
1104333
Regulatory
1104302 (Wi-Fi)
1104331 (Wi-Fi)
Specification
Specification
HOST INTERFACES
10/100/1000 Ethernet (RJ45)
SATELLITE NAVIGATION
30 Channel GPS and GLONASS Receiver
RS-232 serial port (DB-9)
(GNSS)
Acquisition Time: 1 S Hot Start
USB 2.0 Micro-B Connector
Accuracy: &lt;2 m (50%), &lt;5 m (90%), &lt;0.2 m/s
3 SMA antenna (cellular, diversity, Active GNSS)
Tracking Sensitivity: 160 dBm
2 RP-SMA antenna (1x1 Wi-Fi, Optional)
Reports: NMEA 0183 V3.0, TAIP, RAP, XORA
LTE-M/NB-IoT: 1 SMA (cellular) only, no GNSS or Wi-Fi
Multiple Redundant Servers
Active GPS antenna support
Reliable Store and Forward
WI-FI (Optional)
Dual Band 2.4/5GHz Wi-Fi
SECURITY
Remote Authentication (LDAP, RADIUS, TACACS+, DMZ)
Dual Radio, 802.11 b/g/n/ac (Wave2 Client Mode)
Inbound and Outbound Port filtering
Support for 10 clients, WPA2 Enterprise per radio
Inbound and Outbound Trusted IP
Output power 16dBm
MAC Address Filtering
Configurable as Dual Band Access Point (AP) or AP+Client
PCI compatible
Mode
Secure Firmware Update
Single SSID Support per radio
NETWORK
Secure mobile network &amp; asset management application
Captive Portal
MANAGEMENT
available in the cloud or licensed platform in the enterprise
data center
INPUT/OUTPUT
Configurable I/O pin on power connector
Fleet wide firmware upgrade delivery
Digital Input ON Voltage: 2.7 to 36 VDC
Router configuration and template management
Configurable Pull-up for dry contact input
Router staging over the air and local Ethernet connection
Digital Open Collector Output &gt; sinking 500 mA
Analog Input: 0.5-36 VDC
Over-the-air software and radio module firmware updates
Device Configuration Templates
LAN (ETHERNET/USB)
DHCP Server
Configurable monitoring and alerting
IP Passthrough
Remote provisioning and airtime activation (where
VLAN
applicable)
Host Interface Watchdog
ROUTER MANAGEMENT
ALMS
PPPoE
Local web user interface
SERIAL
TCP/UDP PAD Mode
AT Command Line Interface (Telnet/SSH/Serial)
Modbus (ASCII, RTU, Variable)
SMS Commands
PPP
SNMP
DNP3 Interoperability
EVENTS ENGINE
Custom event triggers and reports
Dual Serial option (with an accessory)
Configurable interface, no programming
NETWORK AND ROUTING
Network Address Translation (NAT)
Event Types: Digital Input, Network Parameters, Data Usage,
Port Forwarding
Timer, Power, Device Temperature and Voltage
Policy Routing
Report Types: RAP, SMS, Email, SNMP Trap, TCP (Binary,
NEMO/DMNR
XML, CSV)
VRRP
Event Actions: Drive Relay Output
Reliable Static Route
Dynamic DNS
Verizon PNTM
SIERRA
IPV6 Gateway
WIRELESS
PAGE 3
AirLink® RV55
Rugged LTE-A Pro Router
VPN
IPsec, GRE, and OpenVPN Client
ENVIRONMENTAL
Operating Temperature: -40°C to +70°C/-40°F to +158°F
Up to 5 concurrent tunnels
Operating Temperature (Wi-Fi variant): +70°C/
-22°F to +158°F
Split Tunnel
Storage Temperature: -40°C to +85°C/-40°F to +185°F
Dead Peer Detection (DPD)
Humidity:95%RH@60°C
FIPS 140-2 compatible
Military Spec MIL-STD-810G conformance to shock,
APPLICATION
ALEOS Application Framework (AAF)
vibration, thermal shock, and humidity
FRAMEWORK
LUA Scripting Language
IP64 rated ingress protection
POWER
Input Voltage: 7 to 36 VDC
INDUSTRY
Safety: IECEE Certification Bodies Scheme (CB Scheme),
LTE Idle Power: 900mW (75 mA @ 12VDC)
CERTIFICATIONS
UL 60950
Standby Mode Power: 53 mW (4.4 mA @ 12 VDC) triggered
Vehicle Usage: E-Mark (UN ECE Regulation 10.04),
on low voltage, I/O or periodic timer
ISO7637-2, SAE J1455 (Shock &amp; Vibration)
Low voltage disconnect to prevent battery drain
Hazardous Environments: Class 1 Div 2
Built-in protection against voltage transients including 5 VDC
Environmental: RoHS, REACH, WEEE
engine cranking and +200 VDC load dump
SUPPORT AND
Includes 1st Year AirLink Complete:
Ignition Sense with time delay shutdown
WARRANTY
AirLink Management Service (ALMS)
Configurable features and ports to optimize power
Direct 24/7 Technical Support
consumption
3-year standard warranty; optional 2-year warranty
extension
DIMENSIONS
119 mm X 33 mm X 85 mm (102 mm including wi-fi
1-day Accelerated Hardware Replacement available through
connectors)
participating resellers
4.69 in X 1.34 in X 3.35 in (3.70 in including connectors)
ACCESSORIES
In the Box: DC Power Cable, and Quick Start Guide
Weight: 320 g
2000579 AC Adapter, 12VDC
6000659 DIN Rail Mounting Brackets
6001110 Cellular Paddle Antenna
6001111 Wi-Fi 2.4/5GHz Paddle Antenna
See website for more antenna options.
*For carrier specific band support please refer to the hardware user guide.
DIMENSIONS
AirLink Networking Solution - Related Products
119 mm
AIRLINK NETWORK MANAGEMENT SOLUTIONS
6
AIRLINK MANAGEMENT SERVICE (ALMS)
33 3mm
.....
Secure, Cloud-based network and asset management
Remotely deploy, configure, monitor and manage AirLink devices
119 mm
Carrier-grade, high availability, secure, global infrastructure
0000
AIRLINK MANAGER / MOBILITY MANAGER (AM/AMM)
33 mm
AirLink RV55
Deployable in the enterprise data center (on-premises) or
106 mm
in the cloud
Me
Advanced, end-to-end network and asset management
SIERRA
for both fixed and mobile networks.
WIRELESS
Remote, real-time configuration, control and troubleshooting of
27 mm
85 mm
AirLink devices
AIRLINK VPN APPLIANCE
O
0000
V
AIRLINK CONNECTION MANAGER
119 mm
VPN appliance built from the ground up for Airlink routers &amp;
ACM
gateways
VPN
Simplify deployment and management of your VPN solution,
extending the enterprise to the network edge for fixed and
mobile endpoints
Carrier agnostic - ACM doesn&apos;t require fixed and/or public IP
Compatible with FIPS 140-2, and always-onVPN capability
About Sierra Wireless
Sierra Wireless (NASDAQ: SWIR) (TSX: SW) is an loT pioneer, empowering businesses and industries to transform and thrive in the connected
economy. Customers Start with Sierra because we offer a device-to-cloud solution, comprised of embedded and networking solutions
seamlessly integrated with our loT services. OEMs and enterprises worldwide rely on our expertise in delivering fully integrated solutions to
reduce complexity, turn data into intelligence and get their connected products and services to market faster. Sierra Wireless has more than
1,400 employees globally and operates R&amp;D centers in North America, Europe and Asia. For more information, visit www.sierrawireless.com.
For more information, visit www.sierrawireless.com.
SIERRA
Sierra Wireless, the Sierra Wireless logo, AirPrime, and the red wave design are trademarks of Sierra Wireless Other registered trademarks that appear on this brochure are
the property of the respective owners. © 2019 Sierra Wireless, Inc. 2019.02.01
WIRELESS</text>
    </textTemplates>
    <textTemplates>
        <name>SupportFAQ</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following are frequently asked questions (FAQ) about GenWatt generators and services. Use these answers in response to user questions, when relevant.
Each question is prefixed with a &quot;Q:&quot;.
Each answer is prefixed with a &quot;A:&quot;.

Q: Where is the generator made?
A: GenWatt generators are designed and manufactured by GenWatt Systems Inc. at our facilities in Wisconsin.

Q: How do the GenWatt Diesel and Gasoline generators compare to air cooled engines used in other brands
of generators?
A: Unlike other engines used in backup power generation, GenWatt engines are designed specifically for generators. They are engineered to run for the long periods of time required during a severe power outage or on a job site. They utilize the same type of pressurized oil lubrication used to give automobile engines long and trouble-free lives.

Q: What type of oil is recommended? How often should it be changed?
A: Above 32°F, use SAE 30. Below 40°F and down to -10°F, use 10W-30. Synthetic 5W-30 can be used
in all temperatures. Oil should be changed after the first 20-30 hours of operation and every 100
hours of run time thereafter.

Q: What type of gasoline is recommended for my generator?
A: Use clean, fresh unleaded gasoline with a minimum 87 octane rating.

Q: How often should I perform routine maintenance on my portable generator?
A: All generators require periodic maintenance, such as oil and filter changes, to ensure maximum performance for years of reliable service. Refer to the owner&apos;s manual for routine maintenance procedures and schedules.

Q: Does the portable generator need to be grounded?
A: It depends on the application.
When using just the extension cords, you do not need to use a ground rod. (If you have a bonded neutral portable generator. This can be found in the owner&apos;s manual.)

When connecting to an electrical panel (building electrical system, manual transfer switch, RV, etc.) you need to connect your generator to a ground rod.

Ground rods must be pounded into the earth, then connected to the ground lug on the generator via a ground cable. The rod must be at least 8ft into the earth.

We strongly recommend that you check and adhere to all applicable federal, state and local regulations relating to grounding.

Q: When storing my portable, at what point should the gasoline be drained?
A: It is highly recommended that you drain the fuel from the tank and run the carburetor dry if you are planning on storing your portable for more than 30 days. It has been found that fuel begins to deteriorate within approximately one month. 

In order to preserve its properties, you should add a stabilizer to it right from the start. The stabilizer will neutralize the damaging effect that ethanol has on the components which are responsible for combustion. Be sure to carefully follow the fuel stabilizer&apos;s ratio instructions, and noting the duration that the fuel stabilizer is effective for.

Q: Can I vent the exhaust from my portable generator out of an enclosed area? Where should I set my portable?
A: No. Never run the generator indoors, in a garage or in an enclosed area. Portable generators are designed to run outside where there is plenty of ventilation. You need to position your portable away from doors and windows so that the exhaust fumes do not get inside the house. The produced carbon monoxide gas can cause serious poisoning. You should also be sure to set your portable where it will be protected from moisture, rain and snow.

Q: Can a portable generator be used during inclement weather?
A: NEVER run a generator directly in the rain, snow or other wet conditions. NEVER run a generator indoors or in a garage.

Q: Where can I purchase parts for my portable generator?
A: Parts can be purchased through any Authorized Generac Dealer. See our Dealer Locator to find a dealer near you. You can buy parts online or call (877) 500-7499. Part numbers are located in the owner’s manual.

Q: Where do I go to have warranty repairs performed on my portable generator?
A: Any Authorized Generac dealer can perform warranty service. To find your local authorized Generac Dealer, see our locator or contact us for additional information. Our Authorized Service Centers provide parts, service and information on Generac equipment, regardless of where it was purchased. Authorized Service Centers are staffed with trained technicians supporting all aspects of the Generac portable generator line.

Q: Why does my portable generator keep shutting down?
A: How many loads are plugged into the generator? Overloading a generator in excess of its wattage capacity can result in damage to the generator and to the connected electrical devices. Try unplugging loads and running the generator with less applied. 

Is the fuel shut-off valve turned on?
Without the fuel valve turned completely on, gas cannot get to the engine for proper function. If the fuel valve is on, check the fuel filter and fuel line for clogs. Clogged fuel lines may be restricting the amount of fuel getting to the engine. Is the oil full? Oil capacity is documented in the owner’s manual. If recommended amount is added and it still does not reach the threads on the crankcase, add enough oil to reach the bottom of the threads even if it’s more than the manual recommends. Generac generators are equipped with a low-oil shut down system to protect the engine from low oil damage.

Q: My portable generator is running but will not provide power.
A: Are all the breakers in the on position? Each receptacle is provided with a push-to-reset circuit breaker to protect the generator against overload. If the breakers are all on, try field flashing the generator. Generators in storage can lose their magnetism and not produce electricity even though the engine is running. If the breakers are not tripped and field flashing did work, the brushes in a brushed alternator may need to be replaced. It is best for the device to be checked by a Generac Service Dealer who will diagnose the problem and provide resolution.</text>
    </textTemplates>
    <textTemplates>
        <name>systemPromptTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are a helpful Sales support assistant. You are helping a customer with a Sales Quote. The customer is interested in purchasing products from GenWatt Generators.

Customer information:
First Name = {!RoomMemberRecord.rooms__FirstName__c}
Last Name = {!RoomMemberRecord.rooms__LastName__c}
Email Address = {!RoomMemberRecord.rooms__Email__c}

Sales Quote information:
Name = {!OpportunityRecord.Name}
Description = {!OpportunityRecord.Description}
Created Date: {!OpportunityRecord.CreatedDate}
Total Amount: {!OpportunityRecord.Amount}
Type = {!OpportunityRecord.Type}

Product Line Items in the Quote:
{!LineItemSummary}

The following products are not included in the sales quote. However, the customer may have questions about adding additional products to the quote, or prices of other products. Respond to inquiries about other products using the following information:
{!PricebookSummary}

The following is information about the AirLink product:
{!ProductKnowledge}
All responses are correct, factual, defensible and concise.</text>
    </textTemplates>
    <variables>
        <name>LineItemSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>roomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>systemPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
