src/flows/Campaign_Content_Generator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AI_Completion</name>
        <label>AI Completion</label>
        <locationX>812</locationX>
        <locationY>248</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>maxTokens</name>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <stringValue>You are a content creator for a marketing campaign. All responses are strictly HTML, CSS and copy necessary for end customer facing consumption. Responses must be concise and never explain the content being generated.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <elementReference>Prompt</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>CompletionResult</assignToReference>
            <name>completion</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Campaign Content Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Content Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>950</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GenText__c</field>
            <value>
                <elementReference>CompletionResult</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1058</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextFinal</name>
            <fieldText>&lt;p&gt;Content generated. Click Finish to preview.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>StartScreen</label>
        <locationX>688</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AI_Completion</targetReference>
        </connector>
        <fields>
            <name>TextStart</name>
            <fieldText>&lt;p&gt;Generate some content for this campaign.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prompt</name>
            <fieldText>GPT Prompt</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>558</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CompletionResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
