src/flows/Case_AI_Summary.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AI_Summarize_Case</name>
        <label>AI Summarize Case</label>
        <locationX>570</locationX>
        <locationY>398</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AI_Summary_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <elementReference>SystemPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Summarize this case in under 100 words. Be concise.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>AI_Summary_Response</assignToReference>
            <name>completion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalTokens</assignToReference>
            <name>totalTokens</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Classify_Customer_Sentiment</name>
        <label>Classify Customer Sentiment</label>
        <locationX>1029</locationX>
        <locationY>892</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_with_AI_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <elementReference>CaseCommentSentimentPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Classify the customer&apos;s sentiment as &quot;Positive&quot;, &quot;Neutral&quot; or &quot;Negative&quot;.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>AI_Customer_Sentiment</assignToReference>
            <name>completion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalTokens</assignToReference>
            <name>totalTokens</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Predict_Suggested_Resolution</name>
        <label>Predict Suggested Resolution</label>
        <locationX>1109</locationX>
        <locationY>541</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CaseComments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentVersionId</name>
            <value>
                <elementReference>SupportFAQDocument.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <stringValue>{!SystemPrompt}. A list of frequently asked questions (FAQ) are provided below. Responses must be based on the FAQ.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Based on the case details and FAQ, provide the best suggested resolution in less than 100 words. Be concise.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>AI_Suggested_Resolution_Response</assignToReference>
            <name>completion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalTokens</assignToReference>
            <name>totalTokens</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Translates the output of previous AI callout action to another language.</description>
        <name>Translate_Summary</name>
        <label>Translate Summary</label>
        <locationX>843</locationX>
        <locationY>533</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SupportFAQDocument</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <stringValue>You are a Language Translator for a customer service and support center. Translate the following text to {!TranslationLanguage}:</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <elementReference>AI_Summary_Response</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>AI_Translation_Response</assignToReference>
            <name>completion</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Comment_To_Prompt</name>
        <label>Add Comment To Prompt</label>
        <locationX>1194</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>CaseCommentSentimentPrompt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormatCaseComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Sentiment_Prompt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Translation_Language</name>
        <label>Assign Translation Language</label>
        <locationX>707</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>TranslationLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spanish</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Translate_Summary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AI_Summary_Success</name>
        <label>AI Summary Success</label>
        <locationX>563</locationX>
        <locationY>535</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSummarySuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Translation_Language</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Comments_Decision</name>
        <label>Has Comments?</label>
        <locationX>854</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>Update_Case_with_AI_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCaseHasComments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseComments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Sentiment_Prompt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Case record-triggered flow that demonstrates engaging AI to summarize, translate, and analyze a case.</description>
    <environments>Default</environments>
    <formulas>
        <name>FormatCaseComment</name>
        <dataType>String</dataType>
        <expression>&quot;Comment Date: &quot; &amp; TEXT( {!Build_Sentiment_Prompt.CreatedDate} ) &amp; BR() &amp;
&quot;Comment Body: &quot; &amp; {!Build_Sentiment_Prompt.CommentBody} &amp; BR() &amp; 
&quot;---&quot;</expression>
    </formulas>
    <interviewLabel>Case AI Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Case AI Summary</label>
    <loops>
        <name>Build_Sentiment_Prompt</name>
        <label>Loop Through Comments</label>
        <locationX>1029</locationX>
        <locationY>685</locationY>
        <collectionReference>CaseComments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Comment_To_Prompt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Classify_Customer_Sentiment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseComments</name>
        <label>Get Case Comments</label>
        <locationX>723</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Comments_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Frequently Asked Questions (FAQ) for Generators.</description>
        <name>SupportFAQDocument</name>
        <label>Get Support FAQ</label>
        <locationX>980</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Predict_Suggested_Resolution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generator Support FAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_AI_Values</name>
        <label>Update Case with AI Values</label>
        <locationX>863</locationX>
        <locationY>892</locationY>
        <inputAssignments>
            <field>AI_Sentiment_Analysis__c</field>
            <value>
                <elementReference>AI_Customer_Sentiment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Suggested_Resolution__c</field>
            <value>
                <elementReference>AI_Suggested_Resolution_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Summary_Translation__c</field>
            <value>
                <elementReference>AI_Translation_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Summary__c</field>
            <value>
                <elementReference>AI_Summary_Response</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>444</locationX>
        <locationY>48</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comments</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>AI_Summarize_Case</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SystemPrompt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are a customer service and support Case Analyst with many years of experience identifying customer satisfaction patterns and sentiment. You are assisting a Customer Support Representative resolving a case for customer {!$Record.Account.Name}
# Case details
Case Number = {!$Record.CaseNumber}
Customer Account = {!$Record.Account.Name}
Case Subject = {!$Record.Subject}
Case Description = {!$Record.Description}
Created Date = {!$Record.CreatedDate}
Is Escalated = {!$Record.IsEscalated}
Case Origin = {!$Record.Origin}
Case Priority = {!$Record.Priority}
Case Type = {!$Record.Type}
Case Status = {!$Record.Status}
Internal Case Comments = {!$Record.Comments}</text>
    </textTemplates>
    <variables>
        <name>AI_Customer_Sentiment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AI_Suggested_Resolution_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AI_Summary_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AI_Translation_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of case comments for use in sentiment analysis.</description>
        <name>CaseCommentSentimentPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The following are comments related to a customer support case:</stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A number representing the total number of AI tokens required by the AI to process the system prompt, user prompt, inline context, and response.</description>
        <name>TotalTokens</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TranslationLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
