src/flows/GPT_Text_Translation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_SObject_Details</name>
        <label>Get SObject Details</label>
        <locationX>989</locationX>
        <locationY>116</locationY>
        <actionName>rooms__AIPromptSObjectUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_SObject_Text</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>extractSObjectFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreIDFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreNullFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFieldLabel</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFieldName</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>rooms__AIPromptSObjectUtils</nameSegment>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SObjectFields</assignToReference>
            <name>output</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Translate_Text</name>
        <label>Translate Text</label>
        <locationX>1266</locationX>
        <locationY>211</locationY>
        <actionName>rooms__AICompletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Decision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>maxTokens</name>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemMessage</name>
            <value>
                <elementReference>SystemPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <elementReference>OriginalText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rooms__AICompletionAction</nameSegment>
        <outputParameters>
            <assignToReference>TranslatedText</assignToReference>
            <name>completion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalTokens</assignToReference>
            <name>totalTokens</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Entered_Text</name>
        <label>Assign Entered Text</label>
        <locationX>1077</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>OriginalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnteredText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are a language translation assistant. Translations are concise, accurate, and professional. Translate the following text to {!TranslateToLanguage}:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Translate_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SObject_Text</name>
        <label>Assign SObject Text</label>
        <locationX>1119</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>OriginalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjectFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are a language translation assistant that is provided field=value pairs for a database record. Translate the following fields to {!TranslateToLanguage}:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Translate_Text</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceRecord</name>
        <choiceText>Translate Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RECORD</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceText</name>
        <choiceText>Translate entered text</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TEXT</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Success_Decision</name>
        <label>Success?</label>
        <locationX>1377</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTranslationSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TranslationScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Translation_Source_Decision</name>
        <label>Translation Source</label>
        <locationX>796</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TranslationSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceRecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SObject_Details</targetReference>
            </connector>
            <label>Record</label>
        </rules>
        <rules>
            <name>TextOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TranslationSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Entered_Text</targetReference>
            </connector>
            <label>Text</label>
        </rules>
    </decisions>
    <description>Translates entered text or record fields.</description>
    <environments>Default</environments>
    <interviewLabel>GPT Text Translation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>GPT Text Translation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1385</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextError</name>
            <fieldText>&lt;p&gt;There was an error translating the text.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Message:&lt;/strong&gt; {!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>674</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Translation_Source_Decision</targetReference>
        </connector>
        <fields>
            <name>TranslationSource</name>
            <choiceReferences>ChoiceText</choiceReferences>
            <choiceReferences>ChoiceRecord</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceText</defaultSelectedChoiceReference>
            <fieldText>Text Source</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TranslateToLanguage</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Spanish</stringValue>
            </defaultValue>
            <fieldText>Translate To Language</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EnteredText</name>
            <fieldText>Text to Translate</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Translate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TranslationScreen</name>
        <label>Translation Screen</label>
        <locationX>1538</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextOutput</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;System Prompt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!SystemPrompt}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Original Text:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!OriginalText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Translation to {!TranslateToLanguage}:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!TranslatedText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total AI Tokens Used:&lt;/strong&gt; {!TotalTokens}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>548</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObjectFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SystemPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalTokens</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TranslatedText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
